@charset "utf-8";

/*
 * File    : font.css
 * Author  : STUDIO-JT (HREE)
 *
 * SUMMARY :
 * SUITE
 * DelaGothicOne
 */



/* ************************************** *
 * SUITE
 * ************************************** */
@font-face {
	font-family: 'SUITE';
	font-weight: 500;
	src: url('../fonts/SUITE/SUITE-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'SUITE';
	font-weight: 700;
	src: url('../fonts/SUITE/SUITE-Bold.woff2') format('woff2');
}



/* ************************************** *
 * DelaGothicOne
 * ************************************** */  
 @font-face {
    font-family: 'DelaGothicOne';
    font-weight: 400;
    src: url('../fonts/DelaGothicOne/DelaGothicOne-Regular.woff2') format('woff2');
}
